<div class="container">
    <div class="logo">
      <img src="../../../../assets/images/hosthub-header-logo.png" alt="Host Hub Logo" />
    </div>
    <h2>Esqueceu a senha</h2>
    <p>Insira o e-mail para recuperar a senha.</p>
  
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="email"
          formControlName="email"
          placeholder="E-mail"
          [class.invalid]="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
        />
        <div class="error-message" *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
          <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">O e-mail é obrigatório.</small>
          <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">E-mail inválido.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Recuperar Senha</button>
    </form>
  
    <!-- Mensagem de sucesso -->
    <p *ngIf="showMessage" class="success-message">E-mail enviado com sucesso!</p>
  
    <a routerLink="/login">Já possui uma conta? Clique aqui</a>
  </div>
  