<form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <label for="email">Email:</label>
  <input id="email" formControlName="email" type="email" />
  <div *ngIf="emailForm.get('email').invalid && emailForm.get('email').touched">
    <small *ngIf="emailForm.get('email').errors.required"
      >O email é obrigatório.</small
    >
    <small *ngIf="emailForm.get('email').errors.email"
      >Por favor, informe um email válido.</small
    >
  </div>
  <button type="submit" [disabled]="emailForm.invalid">Redefinir Senha</button>
</form>
<div *ngIf="message">{{ message }}</div>
